body {
    background-color: #F7F7F4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

@font-face {
    font-family: "editorialNew";
    src: url("fonts/PPEditorialNew-Regular.otf") format("opentype");
}

@font-face {
    font-family: "ABCDiatypeEdu";
    src: url("fonts/ABCDiatypeEdu-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "ABCDiatypeEdu";
    src: url("fonts/ABCDiatypeEdu-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "ABCDiatypeEdu";
    src: url("fonts/ABCDiatypeEdu-RegularItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

h1 {
    font-family: "editorialNew";
    font-size: 2.5rem;
    font-weight: 400;
    color: #000;
    margin: 0;
}

/* Footer Container */
.footer {
    display: grid;
    font-family: "editorialNew";
    grid-template-rows: auto auto auto; /* Three rows */
    gap: 20px; /* Space between rows */
    padding: 20px;
}
  
/* Title Styling */
.footer-title h1 {
    font-size: 4rem; /* Large title */
    margin: 0;
}
  
/* Subtitle Styling */
.footer-subtitle p {
    margin: 0;
    font-size: 2rem;
    font-family: "ABCDiatypeEdu";
}
  
/* Bottom Row Styling */
.footer-bottom {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Spacing between elements */
    justify-content: space-between; /* Distribute space between elements */
}

.footer-bottom p {
    margin: 0;
    font-size: 1rem;
    font-family: "ABCDiatypeEdu";
    font-style: italic;
}

.footer-bottom button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff4757;
    color: #fff;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-family: "ABCDiatypeEdu";
    margin-left: auto; /* Push button to the far right */
}

.footer-bottom button:hover {
    background-color: #e63946;
}

footer {
    margin-top: auto;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .footer {
        grid-template-rows: auto auto; /* Adjust rows for mobile */
        gap: 10px; /* Reduce gap for mobile */
        padding: 10px;
    }

    .footer-title h1 {
        font-size: 2.5rem; /* Smaller title for mobile */
    }

    .footer-subtitle p {
        font-size: 1.5rem; /* Smaller subtitle for mobile */
    }

    .footer-bottom {
        flex-direction: column; /* Stack elements vertically on mobile */
        gap: 5px; /* Reduce gap for mobile */
    }

    .footer-bottom p {
        font-size: 0.875rem; /* Smaller text for mobile */
        margin-bottom: .5rem;
    }

    .footer-bottom button {
        font-size: 0.875rem; /* Smaller button text for mobile */
        padding: 8px 16px; /* Adjust padding for mobile */
    }
}